<!--
  Copyright 2023 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{block "title" .}}{{.Title}}{{end}}</title>
</head>
<body>
  <main>
  {{block "content" .}}{{.Content}}{{end}}
  </main>
</body>
</html>
{{end}}
